.home_main-title {
  text-align: center;
}

.home_sub-title {
  text-align: center;
}

.records-drop-down__autocomplete {
  background-color: 'red';
}

.main-app-bar_container {
  background-color: #D3D3D3;
}

.home_container {
  padding-top: 36px;
}

.maintenance_body-container {
  padding-top: 18px;
}